.card-button {
  background-color: $background-dark;
  padding: 21px;
  border-radius: 8px;
}

.card-color {
  background-color: $background-dark;
  padding: 21px;
  border-radius: 8px;
}

.box-color {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 8px; 
}

.box-icon {
  display: flex;
  flex-direction: column;
  width: 128px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  background-color: $background-dark;
  .icon-wrapper {
    text-align: center;
    color: $text-dark;
  }
  > p {
    color: $text-dark;
    margin-top: 10px;
  }
}

.icon-search-wrapper {
  max-width: 300px;
  margin: 30px auto;
}

.not-found {
  text-align: center;
  margin-top: 80px;
  h4 {
    display: inline-block;
    color: $white;
  }
}