.main-menu {
  position: fixed;
  width: 260px;
  height: 100%;
  overflow: hidden;
  background-color: $background-dark;
  padding-top: 16px;
  .site-title {
    color: $primary;
    padding: 0 16px;
  }
  ul {
    margin-top: 20px;
    li {
      padding: 0 16px;
      a {
        display: block;
        color: $text;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        padding: 4px 0;
        transition: all 0.2s ease;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary;
          &:hover {
            cursor: default;
          }
        }
        svg {
          position: relative;
          top: -1px;
        }
        span {
          margin-left: 16px;
        }
      }
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 260px - 40px);
  margin: 13px 20px 0;
  padding: 0;
  background-color: $background-dark;
}

.app-content {
  margin-left: 260px;
  padding: 80px 20px 0;
}